.header_links
{
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    font-size: 15px!important;
    line-height: 20px!important;
    letter-spacing: .05em!important;
    text-transform:capitalize;
    color: #666666;
}
.img1
{
    width: 240px;
    height: 60px;
    margin-top:-10px;
    margin-left: 40px;
    padding-left: 10px;
}
.main
{
    margin: 0px auto;
   margin-top: 50px;
}
ul
{
}
.links
{
    margin-left: 150px;
}
.link
{
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    font-size: 15px!important;
    line-height: 20px!important;
    letter-spacing: .05em!important;
    text-transform:capitalize;
    color: #666666;
}
.main li
{
    margin-left: -45;
    list-style-position: inside;
}
a:hover{
    color: coral;
}
h4
{
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
    font-size: 18px!important;
    line-height: 20px!important;
    letter-spacing: .05em!important;
    text-transform:capitalize;
    color: #666666;
}
.admin , .ind , .partner , .resume
{
    border-right: 1px solid grey;
}
.admin , .ind , .partner , .invited , .resume
{
    padding-right: 20px;
}